<h4>
  <%= link_to @question.title, question_path(@question) %>
</h4>

<p>
  <%= form_for @question, url: question_votes_path(@question), method: :post do |f| %>
    <%= hidden_field_tag 'vote', 'up' %>
    <%= f.submit '+' %>
  <% end %>

  <%= @question.net_votes %>
  <%= @question.body %>
  <% if current_user == @question.user %>
  <%= link_to 'edit', edit_question_path(@question) %>
  <% end %>

  QID: <%= button_to 'Downvote', question_votes_path(@question, vote: 'down') %> <br>

  <%= form_for [@question, @question.votes.new] do |f| %>
    <%= hidden_field_tag 'vote', 'down' %>
    <%= f.submit '-' %>
  <% end %>
</p>

<div>
  <%= link_to 'Add Comment', new_question_comment_path(@question) %>
</div>

<div>
  Comments:
  <%=render partial: "/comments/comment", locals: {comments: @question.comments}%>
</div>

  <%=link_to 'Add Answer', new_question_answer_path(@question)%>

<section>
  Answers:
  <%= render @answers %>
</section>
