<h4>
  <%= link_to @question.title, question_path(@question) %>
</h4>
<% if logged_in? %>
  <%= link_to 'edit', edit_question_path(@question) %>
<% end %>


<p>
  <%= @question.body %>
</p>

<% if logged_in? %>
  <%=link_to 'Create Answer', new_question_answer_path(@question)%>
<% end %>

<%= render @answers %>
