<div class= "comment">
  <%comments.each do |comment|%>
    <%= comment.response %>

      by <%= comment.user.username %>
    <% if current_user == comment.user %>

      <%if comment.commentable_type == "Question"%>
        |
        <%= link_to 'edit', edit_question_comment_path(comment.commentable, comment) %>
        |
        <%= link_to 'delete', "/questions/#{comment.commentable.id}/comments/#{comment.id}", method: :delete %>
      <%else%>
        |
        <%= link_to 'edit', edit_answer_comment_path(comment.commentable, comment) %>
        |
        <%= link_to 'delete', "/answers/#{comment.commentable.id}/comments/#{comment.id}", method: :delete %>
     <% end %>
    <% end %>
  <%end%>
</div>
