<p>
  <% if logged_in? %>
    <%= form_for answer, url: answer_votes_path(answer), method: :post do |f| %>
      <%= hidden_field_tag 'vote', 'up' %>
      <%= f.submit '+' %>
    <% end %>
    <%= answer.net_votes %>
    <%= form_for answer, url: answer_votes_path(answer), method: :post do |f| %>
      <%= hidden_field_tag 'vote', 'down' %>
      <%= f.submit '-' %>
    <% end %>
    |
  <% end %>
  <div>
    <%= answer.content %>
  </div>
  <div>
    by <%= answer.user.username %>
    <% if current_user == answer.user %>
      |
      <%= link_to 'edit', edit_question_answer_path(answer.question, answer) %>
      |
      <%= link_to 'delete', "/questions/#{answer.question.id}/answers/#{answer.id}", method: :delete %>
    <% end %>
    <div>
      <%=render partial: "/comments/comment", locals: {comments: answer.comments}%>
    </div>
  </div>
</p>
